cm-code-editor {
    display: block;
    position: relative;
    height: 400px;
    overflow: auto;
    border: 1px solid var(--sl-input-border-color);
    background: var(--sl-input-background-color);
    border-radius: var(--sl-input-border-radius-small);
}

cm-code-editor .codejar-editor {
    height: 100%;
    font-family: var(--sl-font-mono);
    font-size: var(--sl-font-size-medium);
    padding: var(--sl-spacing-2x-small) var(--sl-spacing-x-small);
    margin: 0;
}
