cm-card {
    user-select: text;
    color: black;
}

cm-card.flip-container {
    display: block;
    position: relative;
}

cm-card.flipping {
    transition: transform 750ms ease;
    transform-style: preserve-3d;
    transform: rotateY(-180deg);
    pointer-events: none;
}

cm-card.flipping:not(.flipped) {
    transition: transform 200ms;
}

cm-card.flip-container > cm-card-face {
    backface-visibility: hidden;
    position: absolute;
    inset: 0;
}

cm-card.flip-container:not(.flipping) > cm-card-face.front,
cm-card.flip-container.flipped:not(.flipping) > cm-card-face.back {
    visibility: visible;
    pointer-events: auto;
}

cm-card.flip-container:not(.flipping) > cm-card-face.back,
cm-card.flip-container.flipped:not(.flipping) > cm-card-face.front {
    visibility: hidden;
    pointer-events: none;
}

cm-card.flipping.flipped > cm-card-face.front,
cm-card.flipping:not(.flipped) > cm-card-face.back {
    transform: rotateY(0deg);
}

cm-card.flipping.flipped > cm-card-face.back,
cm-card.flipping:not(.flipped) > cm-card-face.front {
    transform: rotateY(180deg);
}
