cm-crop-image-toolbox {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--sl-input-border-color);
    font-size: 1.3em;
}

cm-crop-image-modal .modal-body {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 1em;
}

cm-crop-image-toolbox sl-icon-button {
    border: 1px solid var(--sl-input-border-color);
    border-bottom: none;
}

cm-crop-image-editor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

cm-crop-image-modal img {
    display: block;
}

cm-crop-image-modal .crop-container {
    padding: 6px;
    background: #888;
    position: relative;
    overflow: hidden;
}

cm-crop-image-modal .crop-box {
    position: absolute;
    box-shadow: 0 0 0 2000px rgba(255, 255, 255, 0.45);
    background: transparent;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    top: 6px;
    left: 6px;
}

cm-crop-image-modal .corner {
    position: absolute;
    background: #000;
    width: 7px;
    height: 7px;
    border: 1px solid #fff;
}

cm-crop-image-modal .edge {
    position: absolute;
}

cm-crop-image-modal .edge.vertical {
    width: 100%;
    height: 1px;
    cursor: ns-resize;
    padding: 3px 0;
}

cm-crop-image-modal .edge.horizontal {
    height: 100%;
    width: 1px;
    cursor: ew-resize;
    padding: 0 3px;
}

cm-crop-image-modal .edge > div {
    width: inherit;
    height: inherit;
    background: #000;
}

cm-crop-image-modal .info-container {
    font-size: 0.825rem;
    font-family: var(--sl-font-mono);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;
    margin-top: 2px;
    align-self: stretch;
}

cm-crop-image-modal .info-container > div {
    display: flex;
    gap: 2px;
}

cm-crop-image-modal inline-input input {
    max-width: 10ch;
}

cm-crop-image-modal .preview-container {
    border: 1em solid var(--sl-input-border-color);
}

cm-crop-image-modal crop-image {
    display: block;
    width: 100%;
    height: 100%;
}
