.display-card-view {
    background-color: #0D0D0D;
    min-width: 391px;
    padding: var(--sl-spacing-x-small);
}

.template-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-container {
    color: black;
}
