.display-card-view {
    background-color: #0D0D0D;
    min-width: 391px;
    padding: var(--sl-spacing-x-small);
    overflow-y: auto;
}

.template-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: black;
    user-select: text;
}
