.__id__-container {
    width: 375px;
    height: 523px;
    border-radius: 18px;
    overflow: hidden;
    position: relative;
    padding: 15px;
}

.__id__-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.__id__-frame {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    padding: 10px 6px 0;
}

.__id__-header {
    display: flex;
    justify-content: space-between;
    padding: 2px 8px;
    height: 32px;
}

.__id__-art-image {
    height: 232px;
    overflow: hidden;
    border: 1px solid #000;
    box-sizing: border-box;
    margin: 2px 9px 2px 8px;
}

.__id__-type-line {
    display: flex;
    justify-content: space-between;
    padding: 4px 8px;
    height: 28px;
    align-items: center;
    margin: 1.5px 3px;
}

.__id__-expansion-symbol {
    min-width: 10px;
    min-height: 10px;
}

.__id__-text-box {
    padding: 3px 7px;
    height: 159px;
    margin-bottom: 6px;
}

.__id__-pt-container {
    position: absolute;
    bottom: 16px;
    height: 42px;
    right: 22px;
    width: 80px;
    z-index: 3;
}

.__id__-pt-wrap-shape {
    float: right;
    width: 78px;
    height: 30px;
    margin-right: 4px;
    shape-outside: polygon(0% -80%, 94% -80%, 94% 44%, 0% 44%);
    pointer-events: none;
    position: relative;
    z-index: 2;
}

.__id__-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    padding: 0 10px;
}
