:host > div {
    display: block;
    overflow: hidden;
    position: relative;
    width: 375px;
    height: 523px;
    border-radius: 16px;
    padding: 15px;
}

* {
    box-sizing: border-box;
    user-select: text;
}

module-container[module="MapFrame"] {
    position: absolute;
    inset: 0;
    z-index: 1;
}

.header {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
    padding: 2px 35px;
    height: 40px;
}

module-container[module="Name"] {
    padding: 0 4px;
    justify-content: center;
}

module-container[module="FaceSymbol"] {
    position: absolute;
    top: 10px;
    left: 0;
    width: 34.5px;
    height: 34.5px;
}

module-container[module="Rarity"] {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

module-container[module="Art"] {
    position: relative;
    z-index: 0;
    height: 241px;
    overflow: hidden;
    box-sizing: border-box;
    display: block;
}

.type-line {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
    padding: 4px 8px;
    height: 28px;
    align-items: center;
    margin: 1.5px 3px;
}

module-container[module="Type"] {
    justify-content: center;
    flex: 1;
}

module-container[module="Text"] {
    position: relative;
    z-index: 2;
    padding: 12px 24px;
    height: 155px;
    margin-bottom: 6px;
    display: flex;
}

module-container[module="Text"] .text {
    height: initial;
    flex: 1;
}

module-container[render="renderPT"] {
    position: absolute;
    bottom: 21px;
    height: 37px;
    right: 22px;
    width: 70px;
    z-index: 3;
}

module-container[render="renderNotchPT"] {
    position: absolute;
    bottom: 64px;
    height: fit-content;
    right: 29px;
    min-width: fit-content;
    z-index: 3;
}

div.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    padding: 0 10px;
    position: relative;
    z-index: 2;
}

auto-fit-line {
    display: block;
    overflow: hidden;
}
