cm-inline-input {
    display: inline-block;
    position: relative;
}

cm-inline-input input {
    width: 1ch;
    min-width: 1ch;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: var(--sl-color-primary-700);
    border-bottom: 1px solid var(--sl-input-border-color);
    background: none;
}

cm-inline-input input:focus {
    outline: none;
    background: var(--sl-input-background-color-focus);
}

cm-inline-input .mirror {
    position: absolute;
    visibility: hidden;
    white-space: pre;
    font: inherit;
    left: 0;
    top: 0;
}
