.pt-text {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5px 5px 5px 9px;
    text-align: center;
    font-family: 'Beleren Bold', serif;
    font-size: 22px;
}

.notch-pt-text {
    font-family: 'Beleren Bold', serif;
    font-size: 15px;
    text-align: right;
}
