.pt-text {
    background-repeat: no-repeat;
    background-size: 70px 38px;
    padding: 4px 5px 4px 12px;
    text-align: center;
    font-family: 'Beleren Bold', serif;
    font-size: 21px;
}

.notch-pt-text {
    font-family: 'Beleren Bold', serif;
    font-size: 15px;
    text-align: right;
}
