.pt-text {
    background-repeat: no-repeat;
    background-size: 70px 38px;
    padding: 4px 7px 4px 12px;
    text-align: center;
    font-family: 'Beleren Bold', serif;
    font-size: 19.5px;
    display: flex;
    justify-content: center;
}

.pt-text .divider {
    cursor: default;
}

.pt-text:focus-within {
    opacity: 1 !important;
}

.pt-text > span:not(.divider) {
    flex-grow: 1;
    flex-shrink: 1;
}

.pt-text > span:first-child {
    text-align: right;
}

.pt-text > span:last-child {
    text-align: left;
}

.notch-pt-text {
    font-family: 'Beleren Bold', serif;
    font-size: 15px;
    text-align: right;
}
