# tooling
.lite_workspace.lua
.idea

# build
build/bin
frontend/dist/js
frontend/dist/css
frontend/dist/shoelace

# npm
node_modules/

# game build files
/games/magic/main.js
/games/magic/main.js.map
