<div class="grid-header">
    <template x-for="column in columns">
        <div class="grid-header-cell">
            <span x-text="column.label"></span>
            <div class="resize-handle"></div>
        </div>
    </template>
</div>
<div class="grid-rows">
    <template x-for="row in rows">
        <div class="grid-row">
            <template x-for="column in columns">
                <div @click="onCellClick(column, row)" class="grid-cell">
                    <span x-text="row.data[column.id]"></span>
                </div>
            </template>
        </div>
    </template>
</div>
