<table class="grid-table">
    <colgroup></colgroup>
    <thead>
    <tr>
    <template x-for="column in activeColumns">
        <th>
            <span x-text="column.label"></span>
            <div class="resize-handle"></div>
        </th>
    </template>
    </tr>
    </thead>
    <tbody>
    <template x-for="row in activeRows">
        <tr @click="onRowClick($event, row)" :class="{ 'selected': row.selected, 'last-selected': row.lastSelected }">
            <template x-for="column in activeColumns">
                <td x-html="column.display(row)"></td>
            </template>
        </tr>
    </template>
    </tbody>
</table>
