<div class="grid-header">
    <template x-for="column in activeColumns">
        <div class="grid-header-cell">
            <span x-text="column.label"></span>
            <div class="resize-handle"></div>
        </div>
    </template>
</div>
<div class="grid-rows">
    <template x-for="row in activeRows">
        <div class="grid-row" @click="onRowClick(row)">
            <template x-for="column in activeColumns">
                <div class="grid-cell"
                     x-html="column.display(row)"></div>
            </template>
        </div>
    </template>
</div>
