module-container[module="FaceSymbol"] img {
    width: 33.5px;
    margin-left: 3px;
}

module-container[module="FaceSymbol"] img.modal-front,
module-container[module="FaceSymbol"] img.modal-back {
    margin-left: 0;
    width: 34.5px;
}
