.card-form-view {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    min-width: 30em;
    background-color: #040404;
}

.forms-container {
    display: flex;
    align-self: stretch;
    flex-direction: row;
    justify-content: stretch;
    overflow-y: auto;
    height: 100%;
}

.form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    padding: 1em;
    border-radius: 10px;
    font-family: var(--sl-font-sans);
}

.form section > * {
    margin-bottom: var(--sl-spacing-x-small);
}

.field-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--sl-spacing-small);
    row-gap: var(--sl-spacing-x-small);
}

h1, h2, h3, h4, h5, h6 {
    text-transform: capitalize;
    text-align: center;
    border-bottom: 1px solid;
    font-family: monospace;
    zoom: 1.5;
    margin: 0 0 0.5em;
}

sl-input[type="file"]::part(input) {
    padding: var(--sl-spacing-x-small) var(--sl-input-spacing-medium);
}

.sl-select-field {
    width: 100%;
}

.sl-select-field .sl-field__label {
    display: inline-block;
    user-select: none;
    margin-bottom: var(--sl-spacing-3x-small);
    font-size: var(--sl-font-size-small);
    font-weight: var(--sl-font-weight-medium);
    color: var(--sl-input-label-color);
    cursor: default;
}

.sl-select-field .select-like sl-button::part(base) {
    width: 100%;
    font-size: var(--sl-input-font-size-small);
    display: flex;
}

.sl-select-field sl-dropdown.select-like {
    display: block;
}

.sl-select-field .select-like sl-menu {
    min-width: 100%;
    box-sizing: border-box;
}

.sl-select-field sl-button {
    display: block;
}

.sl-select-field sl-button::part(label) {
    flex: 1 1 auto;
    text-align: left;
    font-weight: normal;
}

.sl-select-field sl-button::part(caret) {
    margin-left: var(--sl-spacing-x-small);
}

sl-menu-item.selected::part(base) {
    background: var(--sl-color-primary-100);
    color: var(--sl-color-primary-700);
}
