:host > div {
    display: block;
    overflow: hidden;
    position: relative;
    width: 375px;
    height: 523px;
    border-radius: 16px;
    padding: 15px;
}

* {
    box-sizing: border-box;
    user-select: text;
}

module-container[module="Frame"] {
    position: absolute;
    inset: 0;
    z-index: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    padding: 12px 10px 2px 40px;
    height: 40px;
}

module-container[module="Name"] {
    padding: 0 5px;
}

.header:has(module-container[module="FaceSymbol"][style*="display: none"]) {
    padding-left: 10px;
}

module-container[module="FaceSymbol"] {
    position: absolute;
    top: 10px;
    left: 0;
    width: 34.5px;
    height: 34.5px;
}

module-container[module="Art"] {
    display: block;
    position: relative;
    z-index: 0;
    height: 234px;
    overflow: hidden;
    border: 1px solid #000;
    box-sizing: border-box;
    margin: 2px 14px 3.5px 13px;
}

.frame-clear module-container[module="Art"],
.frame-devoid module-container[module="Art"] {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1.5px;
    overflow: visible;
}

.frame-clear module-container[module="Art"] crop-image {
    display: block;
    height: 203%;
    position: absolute;
    left: 0;
    top: -18.5%;
}

.frame-devoid module-container[module="Art"] crop-image {
    display: block;
    height: 185%;
    position: absolute;
    left: 0;
    top: 0;
}

.frame-conspiracy-scrolls module-container[module="Cost"] {
    margin-right: 14px;
}

.frame-conspiracy-scrolls module-container[module="Rarity"] {
    margin-right: 10px
}

.type-line {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    padding: 4px 14px;
    height: 28px;
    align-items: center;
    margin: 1.5px 3px;
}

module-container[module="Type"] {
    font-size: 17px;
    flex: 1;
}

module-container[module="ColorIndicator"] img {
    width: 15px;
    height: 15px;
    margin-right: 4px;
    margin-top: 2px;
}

module-container[module="Rarity"] {
    min-width: 18px;
    min-height: 18px;
    padding-left: 4px;
}

module-container[module="Text"] {
    display: flex;
    position: relative;
    z-index: 2;
    padding: 6px 13px;
    height: 165px;
    margin-bottom: 0.5px;
}

module-container[render="renderPT"] {
    position: absolute;
    bottom: 21px;
    height: 37px;
    right: 22px;
    width: 70px;
    z-index: 3;
}

module-container[render="renderNotchPT"] {
    position: absolute;
    bottom: 64px;
    height: fit-content;
    right: 29px;
    min-width: fit-content;
    z-index: 3;
}

div.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    padding: 0 10px;
    position: relative;
    z-index: 2;
}

auto-fit-line {
    display: block;
    overflow: hidden;
}
