.display-card-view {
    background-color: #0D0D0D;
    min-width: 391px;
    padding: var(--sl-spacing-x-small);
    overflow-y: auto;
}

.display-card-view .buttons-container {
    margin: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
