:host > div {
    display: block;
    overflow: hidden;
    position: relative;
    width: 375px;
    height: 523px;
    border-radius: 16px;
    padding: 15px;
}

* {
    box-sizing: border-box;
    user-select: text;
}

module-container[module="AdventureFrame"]:not([render]) {
    position: absolute;
    inset: 0;
    z-index: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    padding: 12px 10px 2px 40px;
    height: 40px;
}

module-container[module="Name"] {
    padding: 0 5px;
}

.header:has(module-container[module="FaceSymbol"][style*="display: none"]) {
    padding-left: 10px;
}

module-container[module="FaceSymbol"] {
    position: absolute;
    top: 10px;
    left: 0;
    width: 34.5px;
    height: 34.5px;
}

module-container[module="Art"] {
    display: block;
    position: relative;
    z-index: 0;
    height: 234px;
    overflow: hidden;
    border: 1px solid #000;
    box-sizing: border-box;
    margin: 2px 14px 3.5px 13px;
}

.type-line {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    padding: 4px 14px;
    height: 28px;
    align-items: center;
    margin: 1.5px 3px;
}

module-container[module="Type"] {
    flex: 1;
}

module-container[module="ColorIndicator"] img {
    width: 15px;
    height: 15px;
    margin-right: 4px;
    margin-top: 2px;
}

module-container[module="Rarity"] {
    min-width: 18px;
    min-height: 18px;
    padding-left: 4px;
}

module-container[module="Text"] {
    display: flex;
    min-height: 0;
    height: auto;
    position: relative;
    z-index: 2;
    flex: 1;
}

module-container[render="renderPT"] {
    position: absolute;
    bottom: 21px;
    height: 37px;
    right: 22px;
    width: 70px;
    z-index: 3;
}

div.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    padding: 0 10px;
    position: relative;
    z-index: 2;
}

auto-fit-line {
    display: block;
    overflow: hidden;
}

/* ADVENTURE SPOTLIGHT FRAME */
.frame-spotlight module-container[module="Name"] {
    padding-left: 30px;
}

.frame-spotlight module-container[module="Type"]:not([subcard]) {
    justify-content: center;
    padding: 0 45px;
}

.frame-spotlight module-container[module="Rarity"] {
    position: absolute;
    right: 17px;
    top: 4px;
}

.frame-spotlight .text-box {
    padding: 4px 10px 20px;
}

.frame-spotlight .left .header {
    margin-top: 2px;
}

.frame-spotlight .left .type-line {
    margin-bottom: 8px;
}

.frame-spotlight .right {
    padding-top: 8px;
}

.frame-spotlight module-container[module="Art"] {
    margin: 0 0 5.5px;
    overflow: visible;
}

.frame-spotlight module-container[module="Art"] crop-image {
    display: block;
    height: 127%;
    position: absolute;
    left: 0;
    top: -17%;
}

.frame-spotlight module-container[render="renderPT"] {
    bottom: 24px;
    right: 14px;
}

.frame-spotlight .pt-text {
    padding: 8px 7px 4px 7px;
}

/* ADVENTURE PAGES */
.text-box {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 162px;
    padding: 4px 6px;
    overflow: hidden;
    margin: 0 4px 2px 3px;
}

.page-style-blank:not(.frame-spotlight) .left .type-line,
.page-style-name:not(.frame-spotlight) .left .type-line,
.page-style-name_flat:not(.frame-spotlight) .left .type-line,
.page-style-blank:not(.frame-spotlight) .left .header {
    display: none;
}

.left .text,
.right .text {
    padding: 0;
    font-size: 17px;
}

.frame-reversed:not(.frame-spotlight) .text-box {
    flex-direction: row-reverse;
}

.left, .right {
    display: flex;
    flex: 0 0 50%;
    width: 50%;
    flex-direction: column;
    justify-content: center;
}

.frame-adventure .left,
.frame-adventure .right {
    margin-top: 2px;
}

.right {
    padding-right: 4px;
    padding-left: 15px;
}

.left {
    padding-left: 8px;
    padding-right: 8px;
}

.left .header {
    padding: 0;
    height: 22px;
}

.left .header span.sym {
    height: 16px;
    width: 16px;
    font-size: 15.5px;
}

.left module-container[module="Name"] {
    font-size: 14.5px;
    color: white;
    padding-left: 0;
}

.left module-container[module="Cost"] {
    padding: 3px 0;
    gap: 1px;
}

.left module-container[module="Type"] {
    font-size: 14.5px;
}

.left .type-line {
    height: 24px;
    color: white;
    padding: 0;
    margin: 0 0 4px;
}
