.card-text-box {
    display: flex;
    flex-direction: row;
}

.adventure-right, .adventure-left {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    justify-content: center;
    height: inherit;
    padding: 6px;
    overflow: hidden;
    font-size: 17px;
    font-family: "MPlantin", sans-serif;
}

.adventure-right i {
    font-family: "Times New Roman", serif;
}

.adventure-right p {
    margin: 0;
}

.adventure-left img {
    width: 14px;
}

.adventure-right img {
    width: 14px;
    vertical-align: baseline;
    margin: 0 1px;
}

.adventure-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30px;
    overflow: hidden;
}

.adventure-type {
    height: 30px;
    overflow: hidden;
}

.adventure-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 150px;
}

.rules-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.flavor-text {
    font-family: "Times New Roman", serif;
    font-style: italic;
}
