.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    position: relative;
    padding: 0 6px;
    overflow: hidden;
    font-size: 19px;
    line-height: 1;
    font-family: "MPlantin", sans-serif;
    letter-spacing: 0.15px;
}

.text.flag-padding {
    padding-bottom: 20px;
}

.text i {
    font-family: "MPlantin-Italic", serif;
}

.rules-text > div {
    margin: 6px 0;
}

.rules-text > div:first-of-type {
    margin-top: 0;
}

.rules-text > div:last-of-type {
    margin-bottom: 0;
}

.text div.sym {
    font-size: 100%;
    line-height: 0.95;
    height: 0.8em;
    width: 0.8em;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    vertical-align: top;
    margin-top: 0.1em;
    margin-left: 1px;
}

.text .flavor-bar {
    width: 98%;
    height: 12px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 130% 130%;
    margin-top: 2px;
    align-self: flex-end;
}

.flavor-text {
    font-family: "MPlantin-Italic", serif;
    font-style: italic;
}

.text span.q:last-child {
    display: inline-block;
    width: 8px;
    margin-left: -2px;
}

.text span.q:first-child {
    display: inline-block;
    margin-left: -2px;
}
