.text {
    position: relative;
    height: inherit;
    padding: 3px 11px 5px 6px;
    overflow: hidden;
    font-size: 18.5px;
    font-family: "MPlantin", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text.flag-padding {
    padding-bottom: 20px;
}

.text i {
    font-family: "MPlantin-Italic", serif;
}

.rules-text > div {
    margin: 4px 0;
}

.rules-text > div:first-of-type {
    margin-top: 0;
}

.rules-text > div:last-of-type {
    margin-bottom: 0;
}

.text div.sym {
    font-size: 100%;
    line-height: 1;
    height: 0.8em;
    width: 0.8em;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    vertical-align: top;
    margin-top: 0.15em;
    margin-left: 1px;
}

.text .flavor-bar {
    width: 100%;
    height: 12px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 130% 130%;
}

.flavor-text {
    font-family: "MPlantin-Italic", serif;
    font-style: italic;
}
