.text {
    position: relative;
    height: inherit;
    padding: 3px 11px 5px 8px;
    overflow: hidden;
    font-size: 18.5px;
    font-family: "MPlantin", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text i {
    font-family: "MPlantin-Italic", serif;
}

.rules-text > div {
    margin: 4px 0;
}

.rules-text > div:first-of-type {
    margin-top: 0;
}

.rules-text > div:last-of-type {
    margin-bottom: 0;
}

.text img.sym {
    width: 16px;
    vertical-align: baseline;
    margin: 0 1px;
}

.text div.mana-circle {
    height: 17px;
    width: 17px;
    font-size: 16.5px;
    display: inline-block;
    vertical-align: top;
    line-height: 1.1;
}

.text .flavor-bar {
    width: 100%;
    height: 12px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 120% 120%;
}

.flavor-text {
    font-family: "MPlantin-Italic", serif;
    font-style: italic;
}

.text-wrap-shape {
    display: none;
    height: 100%;
    width: 100%;
    float: right;
    pointer-events: none;
}
