module-container[module="Name"] {
    font-size: 22px;
    font-family: 'Beleren Bold', serif;
    font-kerning: none;
}

:host(.face-back) module-container[module="Name"] {
    color: white;
}
