.bg.binding {
    position: absolute;
    top: 0;
    height: 10px;
    width: 94%;
    left: 3%;
}

.bg.left-page {
    right: 50%;
    left: 0;
    width: 50%;
}

.bg.right-page {
    right: 0;
    left: 50%;
    width: 50%;
}
