cm-edit-keywords-modal form-group {
    grid-template-columns: auto;
}

.add-match {
    margin-top: 10px;
    width: fit-content;
}

.rt-label, .matcher-label {
    display: flex;
    align-items: center;
    gap: 10px;
}

.rt-label sl-icon:hover, .match-label sl-icon:hover {
    color: var(--sl-color-danger-400);
    cursor: pointer;
}

.rt-header {
    margin-bottom: 0;
    display: flex;
    gap: 20px;
    align-items: center;
}