module-container[module="Cost"] {
    display: flex;
    gap: 2px;
    padding: 4px 2px;
}

span.sym {
    display: inline-block;
    height: 19px;
    width: 19px;
    position: relative;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: 'MPlantin', sans-serif;
    font-size: 18.5px;
    text-align: center;
    line-height: 1;
    overflow: visible;
}

span.sym.selected::after {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(80, 140, 255, 0.35);
    pointer-events: none;
}
