module-container[module="Cost"] {
    display: flex;
    gap: 2px;
    padding: 4px 2px;
}

div.sym {
    height: 19px;
    width: 19px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: 'MPlantin', sans-serif;
    font-size: 18.5px;
    text-align: center;
    line-height: 1;
    overflow: visible;
}
