* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #111;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: 2em;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: hidden;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--sl-input-border-color);
    color: var(--sl-input-label-color);
    background: var(--sl-color-neutral-0);
    user-select: none;
}

nav img {
    width: 32px;
    height: 32px;
    margin: 0 4px;
    border: 1px solid grey;
    box-sizing: content-box;
}

nav sl-button::part(base) {
    border: none;
    border-radius: 0;
}

nav .menu-items {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav .menu-item {
    display: flex;
    justify-content: space-between;
}

nav .menu-item > div:first-of-type {
    margin-right: 5em;
}

.forms-container {
    display: flex;
    align-self: stretch;
    flex-direction: row;
    justify-content: stretch;
    overflow-y: auto;
}

.template-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    padding: 1em;
    min-width: 35em;
    border-radius: 10px;
    overflow: auto;
    background: #000;
    color: #fff;
    font-family: var(--sl-font-sans);
}

.form section > * {
    margin-bottom: var(--sl-spacing-x-small);
}

.card-container {
   /* zoom: 1.5;*/
}

h1, h2, h3, h4, h5, h6 {
    text-transform: capitalize;
    text-align: center;
    border-bottom: 1px solid;
    font-family: monospace;
    zoom: 1.5;
    margin: 0 0 0.5em;
}

sl-input[type="file"]::part(input) {
    padding: var(--sl-spacing-x-small) var(--sl-input-spacing-medium);
}

.field-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--sl-spacing-small);
    row-gap: var(--sl-spacing-x-small);
}

.buttons-container {
    margin-top: var(--sl-spacing-medium);
    display: flex;
    flex-direction: row;
    gap: var(--sl-spacing-x-small);
}

