cm-card-face::part(editable-text):hover,
cm-card-face::part(editable-html):hover {
    background-color: rgba(0, 0, 0, 0.12);
}

.show-all-editable cm-card-face::part(editable-text),
.show-all-editable cm-card-face::part(editable-html) {
    background-color: rgba(80, 140, 255, 0.4);
}

cm-card-face::part(editable-text):focus-visible,
cm-card-face::part(editable-html):focus-visible {
    background-color: rgba(0, 0, 0, 0.12);
    outline: none;
    transition: background-color 0.25s ease;
}

cm-card-face::part(editable-text),
cm-card-face::part(editable-html) {
    cursor: text;
    min-width: 10px;
    display: inline-block;
    transition: background-color 0.25s ease;
}
