.card-text {
    position: relative;
    height: inherit;
    padding: 3px 6px 5px;
    overflow: hidden;
    font-size: 17px;
    font-family: "MPlantin", sans-serif;
}

.card-text i {
    font-family: "Times New Roman", serif;
}

.card-text p {
    margin: 4px 0;
}

.card-text p:first-of-type, .card-text p:last-of-type {
    margin: 0;
}

.card-text img {
    width: 14px;
    vertical-align: bottom;
    margin: 0 1px;
}

.flavor-text {
    font-family: "Times New Roman", serif;
    font-style: italic;
}

.card-text-wrap-shape {
    height: 100%;
    width: 100%;
    float: right;
    pointer-events: none;
}
