cm-face-form > div,
cm-options-form > div {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 var(--sl-spacing-2x-large);
    font-family: var(--sl-font-sans);
}

form-group {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--sl-spacing-small);
}

form-group[optional][active] {
    border: 1px solid var(--sl-input-border-color);
    padding: var(--sl-spacing-x-small);
    margin: var(--sl-spacing-x-small) 0;
    border-radius: 5px;
}

form-field {
    position: relative;
    display: block;
    margin-top: var(--sl-spacing-3x-small);
}

sl-button.add-field-btn {
    margin-top: var(--sl-spacing-x-small);
}

sl-button.add-field-btn sl-icon {
    width: 1.6em;
    height: 1.6em;
}

cm-face-form h2,
cm-options-form h2 {
    text-transform: capitalize;
    border-bottom: 1px solid;
    font-family: var(--sl-font-sans);
    zoom: 1.5;
    margin: 1em 0 0 0;
    font-size: var(--sl-font-size-x-small);
    font-weight: normal;
}

sl-input[type="file"]::part(input) {
    padding: var(--sl-spacing-x-small) var(--sl-input-spacing-medium);
}

cm-face-form .no-content-prompt,
cm-options-form .no-content-prompt {
    text-align: center;
    padding: 1em;
    font-size: var(--sl-font-size-x-large);
}

.remove-btn {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

.remove-btn::part(base) {
    padding: var(--sl-spacing-2x-small);
    color: var(--sl-color-danger-600);
}

form-group.with-border {
    border: 1px solid var(--sl-input-border-color);
    border-radius: 5px;
    margin-top: var(--sl-spacing-medium);
    padding: var(--sl-spacing-small);
    padding-top: var(--sl-spacing-3x-small);
}
