module-container[module="Art"] cm-editable-image {
    display: block;
    width: 100%;
    height: 100%;
}

module-container[module="Art"] crop-image {
    display: block;
    height: 100%;
    width: 100%;
}
