body.column-resizing {
    cursor: col-resize !important;
}

body.column-resizing * {
    cursor: col-resize;
}

.list-view-table {
    font-family: var(--sl-font-sans);
    font-size: var(--sl-font-size-small);
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    user-select: none;
    cursor: default;
}

.list-view-table th, .list-view-table td {
    padding: var(--sl-spacing-2x-small);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}

.list-view-table th:first-of-type, .list-view-table tr td:first-of-type {
    padding-left: var(--sl-spacing-x-small);
}

.list-view-table th {
    text-align: left;
    font-weight: normal;
}

.list-view-table tr td:first-of-type {
    border-inline-start: 3px solid transparent;
}

.list-view-table tr.selected {
    background-color: var(--sl-color-neutral-100);
}

.list-view-table tr.selected td:first-of-type {
    border-inline-start-color: var(--sl-color-primary-600);
}

.list-view-table tr.last-selected td:first-of-type {
    border-inline-start-color: var(--sl-color-primary-800);
}

.list-view-table thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #080808;
    border-bottom: 1px solid var(--sl-color-neutral-200);
}

.resize-handle {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    right: -4px;
    width: 10px;
    height: 100%;
    z-index: 1;
    cursor: col-resize;
    transition: background 0.3s ease;
}

.list-view-table th .column-sort {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.2em;
}

th:last-of-type .resize-handle {
    display: none;
}

.resize-handle::after {
    content: '';
    display: block;
    width: 2px;
    height: 100%;
}

th:hover .resize-handle::after {
    background-color: var(--sl-color-primary-600);
}

th:has(+ th:hover) .resize-handle::after {
    background-color: var(--sl-color-primary-600);
}

.add-row {
    font-style: italic;
    color: var(--sl-input-color);
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}

.add-row:hover {
    color: var(--sl-color-primary-600);
}
