form-field .error,
form-group .error {
    font-size: 12px;
    color: var(--sl-color-danger-50);
    background-color: var(--sl-color-danger-900);
    border: 1px solid var(--sl-color-danger-400);
    padding: var(--sl-spacing-2x-small);
}
