.set-view {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 0;
    flex: 1;
    border-left: 1px solid var(--sl-color-neutral-400);
    border-right: 1px solid var(--sl-color-neutral-400);
}

.list-view-container {
    overflow: auto;
    height: 100%;
}

.no-content-prompt {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--sl-font-size-2x-large);
    font-family: var(--sl-font-sans);
}

.no-content-prompt .buttons-container {
    padding: var(--sl-spacing-small);
}

.no-content-prompt .buttons-container > sl-button {
    padding: var(--sl-spacing-2x-small);
}

.no-content-prompt sl-button::part(base) {
    font-size: var(--sl-font-size-large);
}

.recent-sets-container {
    padding: var(--sl-spacing-medium);
    font-size: var(--sl-font-size-medium);
    text-align: center;
}

.recent-sets-container .buttons-container {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.no-content-prompt .recent-sets-container sl-button::part(base) {
    font-size: var(--sl-font-size-small);
    padding: var(--sl-spacing-3x-small);
}

.search-bar {
    display: flex;
    position: relative;
    z-index: 1;
    gap: 2px;
    background: var(--sl-input-border-color);
}

.search-bar sl-input {
    flex: 1;
}

.search-bar sl-input::part(base),
.search-bar sl-button::part(base) {
    border-radius: 0;
    box-shadow: none;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom-width: 1.5px;
}
