module-container[module="Flag"] {
    position: absolute;
    z-index: 100;
    bottom: 37px;
    left: 14px;
    width: 160px;
    height: 20px;
}

.flag {
    width: 100%;
    height: 100%;
    padding: 0 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flag .flag-left {
    font-family: "Beleren Bold", serif;
    font-size: 12px;
    font-kerning: none;
}

:host(.front) module-container[module="Flag"] {
    color: white;
}

.flag .flag-right {
    font-size: 13px;
    font-family: 'MPlantin', serif;
    margin-bottom: 1px;
}

.flag div.sym {
    font-size: 100%;
    width: 11px;
    height: 11px;
    display: inline-block;
    vertical-align: top;
    margin-top: 2px;
    margin-right: 2px;
}
