.card-form-view, card-form {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    min-width: 30em;
    background-color: #040404;
    overflow-y: auto;
}

.forms-container {
    display: flex;
    flex-grow: 1;
    align-self: stretch;
    flex-direction: column;
    justify-content: stretch;
    min-height: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    padding: 1em 2.5em;
    border-radius: 10px;
    font-family: var(--sl-font-sans);
}

.form section > * {
    margin-bottom: var(--sl-spacing-x-small);
}

.field-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--sl-spacing-small);
    row-gap: var(--sl-spacing-x-small);
}

h1, h2, h3, h4, h5, h6 {
    text-transform: capitalize;
    text-align: center;
    border-bottom: 1px solid;
    font-family: monospace;
    zoom: 1.5;
    margin: 0 0 0.5em;
}

sl-input[type="file"]::part(input) {
    padding: var(--sl-spacing-x-small) var(--sl-input-spacing-medium);
}
