cm-card-form {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    min-width: 30em;
    background-color: #040404;
}

/* propagate flex all the way down tab groups to content  */
sl-tab-group,
sl-tab-group::part(base),
sl-tab-group::part(body),
sl-tab-panel[active],
sl-tab-panel::part(base) {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
}

sl-tab-panel::part(base) {
    overflow-y: auto;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    position: relative;
    flex: 1;
    padding: 0 2.5em;
    border-radius: 10px;
    font-family: var(--sl-font-sans);
}

.form section > * {
    margin-bottom: var(--sl-spacing-x-small);
}

.field-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--sl-spacing-small);
    row-gap: var(--sl-spacing-x-small);
}

h1, h2, h3, h4, h5, h6 {
    text-transform: capitalize;
    text-align: center;
    border-bottom: 1px solid;
    font-family: monospace;
    zoom: 1.5;
    margin: 0 0 0.5em;
}

sl-input[type="file"]::part(input) {
    padding: var(--sl-spacing-x-small) var(--sl-input-spacing-medium);
}

cm-card-form .no-content-prompt {
    text-align: center;
    padding: 1em;
    font-size: var(--sl-font-size-x-large);
}
