@import "@shoelace-style/shoelace/dist/themes/dark.css";
@import "components/titleBar/titleBar.css";
@import "components/setView/setView.css";
@import "components/displayCard/displayCard.css";
@import "components/listView/listView.css";
@import "components/setInfoModal/setInfoModal.css";
@import "components/formSelect/formSelect.css";
@import "webComponents/cardForm/cardForm.css";
@import "webComponents/card/card.css";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #111;
    color: var(--sl-color-gray-900);
    display: flex;
    user-select: none;
    flex-direction: column;
    overflow: hidden;
}

main {
    position: relative;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.modal-container {
    display: flex;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-body {
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.modal-title-bar {
    text-align: left;
    padding: 0.5em;
    border-bottom: 1px solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.close-modal {
    color: var(--sl-color-danger-300);
    margin-right: 2px;
    cursor: pointer;
    display: flex;
}
