@import "@shoelace-style/shoelace/dist/themes/dark.css";
@import "ui/components/card/card.css";
@import "ui/components/cardProperties/cardProperties.css";
@import "ui/components/inlineInput/inlineInput.css";
@import "ui/components/listView/listView.css";
@import "ui/modals/cropImageModal/cropImageModal.css";
@import "ui/modals/setInfoModal/setInfoModal.css";
@import "ui/forms/cardForm/cardForm.css";
@import "ui/forms/faceForm/faceForm.css";
@import "ui/forms/fieldComponents/checkboxListField.css";
@import "ui/forms/fieldComponents/imageField.css";
@import "ui/forms/fieldComponents/selectField.css";
@import "ui/views/displayCard/displayCard.css";
@import "ui/views/setView/setView.css";
@import "ui/views/titleBar/titleBar.css";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #111;
    color: var(--sl-color-gray-900);
    display: flex;
    user-select: none;
    flex-direction: column;
    overflow: hidden;
}

main {
    position: relative;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.square-spinner {
    width: 4em;
    height: 4em;
    background: var(--sl-color-primary-500);
    animation: rotate-square 1.66s ease-in-out infinite;
}

@keyframes rotate-square {
    0%   { transform: rotate(0deg); }
    50%  { transform: rotate(180deg); }
    100% { transform: rotate(360deg); }
}

main.spinner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main.spinner-container > div {
    padding: 1em;
}

.modal-container {
    display: flex;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal {
    background-color: #111;
    border: 1px solid var(--sl-input-border-color);
}

.modal-body {
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.modal-title-bar {
    text-align: left;
    font-size: 1em;
    font-weight: 500;
    font-family: var(--sl-font-sans);
    padding: 0.5em 1em;
    border-bottom: 1px solid var(--sl-input-border-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--sl-input-background-color);
    position: relative;
}

.modal-actions {
    display: flex;
    flex-direction: row;
    justify-content: end;
    border-top: 1px solid var(--sl-input-border-color);
    padding: var(--sl-spacing-large);
    gap: var(--sl-spacing-small);
    background: #080808;
}

.close-modal {
    color: var(--sl-color-danger-300);
    margin-right: 2px;
    cursor: pointer;
    display: flex;
    transition: 0.2s;
    position: absolute;
    top: 0;
    right: 2px;
    height: 100%;
}

.close-modal:hover {
    transform: scale(1.2);
}

.crop-image-modal .modal {
    min-width: 700px;
    min-height: 400px;
}

.status-container {
    position: fixed;
    bottom: 0;
    left: 2em;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
}

.status-container .status-message {
    display: block;
    background: inherit;
    padding: var(--sl-spacing-x-small);
    transition: opacity 0.5s ease,
                font-size 0.3s ease 0.2s;
}

.status-message.removing {
    opacity: 0;
    font-size: 0;
}
