@import "@shoelace-style/shoelace/dist/themes/dark.css";
@import "views/titleBar/titleBar.css";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #111;
    color: var(--sl-color-gray-900);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: 2em;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: hidden;
}

