@import "@shoelace-style/shoelace/dist/themes/dark.css";
@import "components/titleBar/titleBar.css";
@import "components/setView/setView.css";
@import "components/displayCard/displayCard.css";
@import "components/cardForm/cardForm.css";
@import "components/listView/listView.css";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #111;
    color: var(--sl-color-gray-900);
    display: flex;
    user-select: none;
    flex-direction: column;
    overflow: hidden;
}

main {
    position: relative;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
