.__id__-info {
    display: flex;
    flex-direction: column;
    font-family: "Relay Medium", sans-serif;
    font-size: 9.3px;
    color: white;
}

.__id__-info .illustrator-name {
    font-size: 10px;
    font-weight: initial;
    font-family: "Beleren Small Caps Bold", sans-serif;
}

.__id__-legal-text {
    color: white;
    font-size: 9.5px;
    font-weight: initial;
    font-family: "MPlantin", sans-serif;
}

.illustrator-brush {
    width: 12px;
    height: 7px;
    filter: invert(100%);
}
