module-container[module="Footer"][render="renderInfo"] {
    display: flex;
    flex-direction: column;
    font-family: "Relay Medium", sans-serif;
    font-size: 9.3px;
    color: white;
}

module-container[module="Footer"][render="renderInfo"] > div {
    display: flex;
    flex-direction: row;
    gap: 3px;
    align-items: center;
}

module-container[module="Footer"][render="renderInfo"] .illustrator-name {
    font-size: 10px;
    line-height: 9px;
    font-weight: initial;
    font-family: "Beleren Small Caps Bold", sans-serif;
    font-kerning: none;
}

module-container[module="Footer"][render="renderLegal"] {
    color: white;
    font-size: 8.5px;
    font-weight: initial;
    font-family: "MPlantin", sans-serif;
}

module-container[module="Footer"][render="renderInfo"] .illustrator-brush svg {
    width: 12px;
    height: 8px;
}
