module-container[module="Type"] {
    display: flex;
    align-items: center;
    height: inherit;
    flex: 1;
    min-width: 0;
    overflow: hidden;
    font-family: "Beleren Bold", serif;
    font-kerning: none;
}

:host(.back) module-container[module="Type"] {
    color: white;
}
