cm-edit-locales-modal .modal {
    width: 800px;
    font-family: var(--sl-font-sans);
    font-size: var(--sl-font-size-large);
}

cm-edit-locales-modal .modal-body {
    padding: 1em 2em 2em;
    gap: 0;
}

cm-edit-locales-modal .select-bar {
    display: flex;
    flex-direction: row;
    align-items: end;
}

cm-edit-locales-modal form-field[field-id="selectedLocaleId"] {
    flex: 1;
}

cm-edit-locales-modal .input-fields {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap: var(--sl-spacing-small);
}

cm-edit-locales-modal form-field[field-id="text"] {
    margin-top: var(--sl-spacing-medium);
}

cm-edit-locales-modal .editor-status-bar {
    display: flex;
    justify-content: space-between;
    font-size: var(--sl-font-size-medium);
}
